#hero-img {
    --blur: 4px;
    @apply w-full h-full min-h-screen relative;

    -webkit-mask-image: var(--mask);
    mask-image: var(--mask);

    &:hover {
        --blur: 0;
    }

    img {
        @apply object-cover object-center h-full min-h-screen w-full pointer-events-none select-none;

        filter: brightness(var(--brn)) blur(var(--blur));
        transition: all 0.4s ease-in-out;
    }

    svg {
        @apply h-12 w-12;
        filter: invert(1);
        transition: all 0.4s ease-in-out;
    }

    .content-left {
        @apply absolute top-1/2 left-1/2 uppercase;

        transform: translate(-50%, -50%);
        letter-spacing: 1px;
        filter: brightness(0.95);

        @media (min-width: 1024px) {
            @apply left-12;

            transform: translate(0, -50%);
        }
        @media (min-width: 1536px) {
            @apply left-24;
        }

        p {
            @apply font-extralight text-4xl mb-1;

            @media (min-width: 768px) {
                @apply text-8xl;
            }
        }

        strong {
            @apply text-5xl;
            background: linear-gradient(0deg, #ff4e00 0%, #ec9f05 74%);
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;

            // text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);

            @media (min-width: 768px) {
                @apply text-9xl;
            }
        }
    }

    .content-center {
        @apply absolute top-[25%] left-1/2 uppercase whitespace-nowrap flex flex-col items-center w-max;
        transform: translate(-50%, -50%);
        letter-spacing: 1px;

        @media (min-width: 1536px) {
            @apply top-[50%];
        }

        #dollar-conversion {
            @apply hidden;

            @media (min-width: 1536px) {
                @apply flex flex-col gap-2 items-center justify-center;
            }
        }
    }

    .content-right {
        @apply absolute top-[50%] right-24 uppercase whitespace-nowrap flex flex-col items-center w-max;
        transform: translate(0, -50%);
        letter-spacing: 1px;
    }
}
